.pieprogress {
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: conic-gradient(#ECECEC 0deg 360deg);
  transform: translateY(40px);
  transition: all 0.35s ease !important;
  opacity: 0;
}
.pieprogress.pieprogress--revealed {
  transform: translateY(0px);
  opacity: 1;
}
.pieprogress.step-one {
  background: conic-gradient(#0068B4 90deg, #ECECEC 90deg 360deg) !important;
}
.pieprogress.step-two {
  background: conic-gradient(#0068B4 180deg, #ECECEC 180deg 360deg) !important;
}
.pieprogress.step-three {
  background: conic-gradient(#0068B4 270deg, #ECECEC 270deg 360deg) !important;
}
.pieprogress.step-four {
  background: conic-gradient(#0068B4 360deg, #ECECEC 360deg 360deg) !important;
}
.pieprogress.step-five {
  /* */
}
.pieprogress::before {
  content: '';
  display: block;
  width: 92%;
  height: 92%;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  border-radius: 50%;
}
.pieprogress::after {
  content: '';
  width: 80%;
  height: 80%;
  display: block;
  background-color: #0068B4;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}